::ng-deep .zero {
}

.hex {
  width: 16 * 24px;
  word-wrap: break-word;

  ::ng-deep span {
    width: 24px;
    display: inline-block;
  }
}

.printable {
    margin-left: 8px;
  width: 16 * 16px;
  word-wrap: break-word;

  ::ng-deep span {
    width: 16px;
    display: inline-block;
  }

}
